::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #313131; /* Track color */
}

::-webkit-scrollbar-thumb {
    background: #555; /* Thumb color */
    border-radius: 6px; /* Rounded edges for the thumb */
}